/*** HTML ***/
body {
    background-color: #eff1f6;
    color: #808080;
    height: 100vh;
}

#app {
    margin: 0 auto;
    padding: 100px;
    width: 850px;
}

H3 {
    text-align: center;
}

#carousel1 {
    width: 800px;
}

/*** carousel ***/
.carousel-wrapper {
    width: 500px;
    margin: 20px 20px 60px 20px;
    position: relative;
    padding: 0 40px;
}

.carousel-wrapper:focus {
    outline: none;
}

.carousel-inner-wrapper {
    overflow: hidden;
}

.carousel {
    display: -webkit-box;
    transition: all 1s;
}

.single-block {
    margin: 10px;
    min-width: 70px;
    display: block;
    height: auto;
    min-height: 200px;
    box-shadow: 0 1px 4px rgba(188, 214, 212, 0.83);
    border-radius: 3px;
    background-color: #ffffff;
    padding: 3px;
    float: left;
    position: relative;

}

.navigation {
    top: 50%;
    margin-top: -10px;
    position: absolute;
    border: none;
    font-weight: bold;
    background: #ffffff;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    color: #808080;
}

.navigation.hide-me {
    visibility: hidden;
}

.navigation-prev {
    float: left;
    left: 0;

}

.navigation-next {
    float: right;
    right: 0;
}

.bullets-wrapper {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    left: 0;
}

.bullets-wrapper li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    color: #808080;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #808080;
    border-radius: 50%;
    display: inline-block;
    pointer-events: none;
    position: relative;
}

.active .dot {
    height: 8px;
    width: 8px;
    color: #bcd6d4;
    top: 2px;
}

/*** theme ***/

.carousel-inner-wrapper {
    background: #eef7ff;
}
